@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

html,
body,
#app,
#app > div {
  height: 100vh;
}

input:focus-within ~ label,
/* input:not checkbox */
input:not(:placeholder-shown, [type="checkbox"] ) ~ label {
  @apply transform scale-75 -translate-y-5 text-blue-500;
}

input:focus-within ~ label {
  @apply text-blue-500;
}

/* input id is equal to "helper-text"
input:focus-within ~ #helper-text {
  @apply text-blue-500;
} */
*/ .outline input:focus-within ~ label,
.outline input:not(:placeholder-shown, [type="checkbox"], ) ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}
